body {
  font-family: Verdana;
  margin: 0;
}

header {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

div {
  border: 1px solid black;
}
